doctype html
html(ng-app="app")
  head
    title= title
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/font-awesome.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    // STYLES END
    block styles

  body
    div#fb-root
      script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=484120638294778";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      .navbar.navbar-inverse.navbar-static-top(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") Competitively
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href="/") Home
              li
                a(href="/new") New
            .navbar-right(style="padding: 1% 10% 0 0")
              .fb-login-button(data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true")
    block body

    hr
    footer
      p &copy; Company 2013

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-danger.no-margin-bot
          div: strong Error:
          div {{error.message}}

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/controllers/restCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/sailsSocketCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/todoCtrl.js")
    script(type="text/javascript", src="/linker/js/holder.js")
    script(type="text/javascript", src="/linker/js/services/sailsSocket.js")
    // SCRIPTS END
