extends ../layout

block body
  .container
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
          a.pull-left(href="#", style="padding-right: 20px;")
            img.thumbnail.media-object(data-src="holder.js/300x300")
          h2= featured_name
          p= featured_description
          p
            a.btn.btn-primary.btn-lg(href="#", role="button") Learn more »
    .container
      .navbar.navbar-inverse.navbar-static(role="navigation")
        .navbar-header
          form.navbar-form.navbar-left
            .form-group
              input.form-control(type="text", placeholder="Search")
            button.btn.btn-success(type="submit") Search
          .dropdown
            button.btn.dropdown-toggle.sr-only(type="button" id="dropdownMenu1" data-toggle="dropdown") Dropdown
              span.caret
            ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") Action
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") Another action
        //
          /.navbar-collapse
    .container
      // Three columns of text below the carousel
      .row
        each competition, index in top_competitions
          if index % 3 == 0
            .row
          .col-md-4
            .thumbnail
              img(src="http://lorempixel.com/600/200/people")
              .caption
              .h3= competition.name
              p= competition.description
              - var more_link = "/competition/" + competition.id
              p
                a.btn.btn-primary.btn-lg(href= more_link, role="button") Learn more »

          // /.col-lg-4
